.color-fondo {
    background-color: #0e1419 !important;
}

.color_fondo_secundario {
    background: linear-gradient(#0e1419,#1d1d24);
}

.color-terciario {
    background-color: #42d3c4;
}

.fondo2{
    background-color: #21212c;
}


.fondo_claro {
    background-color: #333;
    & a {
        color: #eee;
    }

        color: #eee;
    
}

.letras_amarillas {
    color: #ffd500;
}

.letras_claras {
    color: #eee;
}

.navbar-item-hover a {
    padding: 15px 50px !important;
    border-radius: 50px;
}

.navbar-item-hover a:hover {
    background-color: #42d3c4;
    /* color: #ffd500; */
    overflow: hidden;
}

.descripcion * {
    font-size: 3.75rem !important;
}

.herramientas_lista * {
    margin-bottom: 0px;
}
.lo_que_se {
    max-height: 50px;
}

.imagen_aumenta {
    transition: transform 0.3s ease;
}

.imagen_aumenta:hover {
    transform: scale(1.2);
}
.dev_Jav{
    text-decoration: none !important;
    color: #eeeeee !important;
}

.card_aumenta {
    transition: transform 0.3s ease;
}
.card_aumenta:hover{
    transform: scale(1.01);
}
